* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 100px;
}

#navbar{
  transition: ease-in .2s;
}

#nike-store {
  /* height: 550px; */
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

/* ------------ A I R - J O R D A N ------------- */

.air-jordan video{
  object-fit: cover;
  /* height: 650px; */
}


/* ------------ A I R - J O R D A N - E N D ------------ */
/* ------------ S P O T L I G H T S  ------------ */

.spotlight-item img{
  width: 400px;
  height: 400px;
}

/* ------------ S P O T L I G H T S - E N D ------------ */

/* ------------ S P O R T - I T E M  ------------ */

.sport-item .card{
  width: 400px;
  height: 300px;  
}

/* ------------ S P O R T - I T E M  - E N D ------------ */